@import "~sanitize.css/sanitize.css";
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300italic,400italic);
@import "./feather/sprite";
$accentColor: white;
$textColorLight: #ddd;
$textColorDark: #222;
$linkColor: $textColorDark;
$linkColorHover: black;
$linkColorActive: $textColorLight;
$baseFont: "Fira Sans", sans-serif;
$italicFont: "Fira Sans", sans-serif;
$borderRadius: 2px;
$borderWidth: .5rem;
$borderColor: rgba($textColorDark, .1);
h1,
h2,
h3,
h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}
h1 {
    margin-top: 0;
    font-size: 3.998em;
}
h2 {
    font-size: 2.827em;
}
h3 {
    font-size: 1.999em;
}
h4 {
    font-size: 1.414em;
}
.font_small,
small {
    font-size: 0.707em;
}
a {
    color: $linkColor;
    text-shadow: none;
    transition-duration: 100ms;
    &:hover {
        color: $linkColorHover;
        text-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    &:active {
        color: transparent;
    }
}
body {
    background: $accentColor;
    min-height: 100vh;
    font-family: $baseFont;
    font-style: normal;
    font-size: 17px;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}
.flex {
    display: flex;
    flex-direction: row;
}
.flex__item--40 {
    flex: 0 1 40%;
}
.flex__item--60 {
    flex: 1 0 60%;
}
.blog-title__avatar {
    display: none;
}
.blog-title__text {
    margin-bottom: 0.3em;
    margin-top: 0.9em;
    line-height: 1.1; 
    padding-bottom: .25em;
    font-size: 3em;
    color: $textColorDark;
    border-bottom: $borderWidth solid $borderColor;
}
.blog-title__subtitle {
    margin-top: 0;
    font-weight: lighter;
}
.sidebar {
    padding: 2.25rem 3rem;
    box-shadow: -0.2em 0 20px -12px rgba(0,0,0,0.5) inset;
    flex-basis: 500px;
}
.articles {
    padding-top: 5em;
    padding-bottom: 3em;
    max-width: 800px;
    background: rgba(black, .04);
    box-shadow: -0.2em 0 20px -12px rgba(0,0,0,0.5) inset;
}
.article {
    margin-bottom: 8em;
}
.article-meta {
    font-family: $italicFont;
    font-style: italic;
    font-weight: 300;
    font-size: 1.414em;
    margin-bottom: .5em;
}
.article-meta--no-image {
    border-bottom: $borderWidth solid $borderColor;
    padding-bottom: .1em;
    margin-bottom: .2em;
}
.article-meta__time {
    margin-right: 0.3em;
}
.article-header {
    margin-bottom: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
}
.article-header__text {
    margin-top: 0;
    margin-bottom: .1em;
}
.article__preview-text {
    font-size: 1.414em;
    margin-bottom: 1em;
    font-style: italic;
}
.article__text {
    font-size: 1.414em;
    margin-bottom: 1em;
    font-style: italic;
    margin-top: 1em;
}
.article__read-button {
    font-size: 1.414em;
    display: block;
}
.article-image__wrapper {
    position: relative;
    margin-left: -3em;
    margin-right: -3em;
}
.article-image__wrapper::after {
    background: linear-gradient(0, rgba(0,0,0,.75), transparent 50%);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.article-image__image {
    width: 100%;
    position: relative;
}
.article-image__preview-text {
    font-size: 1.414em;
    font-style: italic;
    position: absolute;
    bottom: 0;
    margin: 1.5rem 3rem;
    color: $textColorLight;
    z-index: 1;
}
.button {
    letter-spacing: 0.075em;
    font-family: $italicFont;
    font-style: italic;
    font-weight: 300;
}
.button--dark {
    border-bottom: 0.05em solid $borderColor;
    padding-bottom: 0.1em;
    &:hover {
        border-bottom-color: $linkColorHover;
    }
    &:active {
        border-bottom-color: $linkColorActive;
    }
}
.info-list {
    list-style-type: none;
}
.info-list__item {
    display: inline;
}
@media only screen and (max-width: 768px) {
    .flex {
        flex-wrap: wrap;
    }
    .flex__item--40,
    .flex__item--60 {
        min-width: 100%;
    }
    .blog-title__text {
        margin-top: 0.4em;
    }
    .articles  {
        box-shadow: none; 
    }
    .article:first-child {
        margin-top: 0;
    }
    .article {
        margin-top: 4em;
        font-size: .9em;
    }
    .article-header {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .article-header__text {
        margin-top: 0;
    }
    .article-image__wrapper {
        margin-left: -1.5em;
        margin-right: -1.5em;
    }
    .article-image__preview-text {
        margin: .75rem 1.5rem;
    }
    .sidebar {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}
